* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: SF Pro Display, Cascadia NF;
    font-size: 15px;
    border-radius: 16px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0);

}

window#waybar {
    border-bottom: 3px solid rgba(100, 114, 125, 0.0);
    color: #afebce;
    transition-property: background-color;
    transition-duration: .5s;
    background-color: rgba(0, 0, 0, 0);
}

#window {
    font-size: 90px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
*/
window#waybar.solo {
    background-color: #FFFFFF;
}


window#waybar.termite {
    background-color: #FFFFFF;
}

window#waybar.chromium {
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
    border-radius: 5px;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
}

#mode {
/*
    box-shadow: inset 0 -3px #ffffff;
*/
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    border-radius: 16px;
    background-color: #322049;
    padding: 0 10px;
    color: #ffffff;
    border-color:  rgba(141, 105, 202, 0.5);
    border-width: 2px;
    border-style: solid;
}

#window,
#workspaces {
    color: #ffffff;
    margin: 0 4px;
    font-size: 80px;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
font-size: 15px;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    color: #000000;
}

label:focus {
}

#cpu {
    color: #000000;
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
    color: #FFFFFF;
}

#pulseaudio.muted {
    color: #2a5c45;
}

#wireplumber {
    color: #000000;
}

#wireplumber.muted {
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: #2d3436;
}

#mpd {
    color: #2a5c45;
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
}

#scratchpad {
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
}

#privacy-item.audio-in {
}

#privacy-item.audio-out {
}
